nav details.dropdown {
    display: inline-block;
}

nav details.dropdown summary {
    display: flex;
}

:root {
    --pico-border-radius: 0.5rem;
    --pico-font-size: 100%;
    --pico-form-element-spacing-vertical: 0.4rem;
    --pico-form-element-spacing-horizontal: 0.6rem;
}

.profile__badges {
    display: flex;
    gap: 4px;
}

.alert {
    background-color: light-dark(
        var(--pico-color-blue-200),
        var(--pico-color-blue-900)
    );
    --pico-h1-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
    --pico-h2-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
    --pico-h3-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
    --pico-h4-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
    --pico-h5-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
    --pico-h6-color: light-dark(
        var(--pico-color-blue-900),
        var(--pico-color-blue-200)
    );
}

.difficulty {
    display: flex;
    align-items: baseline;
    gap: 16px;
}
.difficulty__label {
    width: 100%;
    max-width: fit-content;
}

.people_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 4px;
}

.close_button {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: calc(var(--pico-spacing) * -1);
    margin-bottom: var(--pico-spacing);
    margin-left: auto;
    border: none;
    background-image: var(--pico-icon-close);
    background-position: center;
    background-size: auto 1rem;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity var(--pico-transition);
    margin: 0;
    margin-left: var(--pico-spacing);
    padding: 0;
    float: right;
}

.subjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

label:has(:required) > :first-child:after {
    content: "*";
    color: var(--pico-color-red-500);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

label.field-required::after {
    content: " *";
    color: red;
}

.draggable {
    cursor: grab;
    touch-action: none;
}

.draggable:active {
    cursor: grabbing;
}

.sidebar-container {
    display: flex;
    gap: 16px;

    aside {
        padding: 8px;
        border-radius: var(--pico-border-radius);
        background: var(--pico-card-background-color);
    }
    aside > ul {
        padding: 0;
        margin: 0;
    }
    main {
        width: 100%;
    }
}

.helptext {
    color: var(--pico-muted-color);
}

.ts-wrapper .ts-control,
.ts-wrapper .ts-dropdown {
    color: var(--pico-form-element-color);
    box-shadow: none !important;
    border: var(--pico-border-width) solid var(--pico-form-element-border-color) !important;
    border-radius: var(--pico-border-radius) !important;
    outline: 0 !important;
    background-color: var(--pico-form-element-background-color) !important;
    background-image: none !important;
    font-weight: var(--pico-font-weight);
    transition:
        background-color var(--pico-transition),
        border-color var(--pico-transition),
        color var(--pico-transition),
        box-shadow var(--pico-transition);
}

.ts-wrapper.multi .ts-control [data-value] {
    padding: 0.125rem 0.25rem !important;
    background-color: var(--pico-mark-background-color) !important;
    background-image: none !important;
    color: var(--pico-mark-color) !important;
    vertical-align: baseline !important;
}

.ts-dropdown .active {
    background-color: var(--pico-dropdown-hover-background-color) !important;
    color: var(--pico-dropdown-hover-color) !important;
}
