{% extends "layouts/logged_in.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/dashboard/">Home</a></li>
            <li><a href="/subjects/">Subjects</a></li>
            <li>{{ subject.name }}</li>
        </ul>
    </nav>
    <h1>{{ subject.name }}</h1>
    {% if subject.membership.moderator %}
        <p>
            You are a moderator of this subject.
            <a>Visit moderator options</a>
        </p>
    {% elif subject.membership %}
        <p>
            You are a member of this subject<br>
            {% include 'subjects/_membership_button.html' with subject=subject is_member=subject.membership %}
        </p>
    {% else %}
        <article class="alert">
            <h5 class="alert_title">
                You have not joined this subject. Join the subject to participate in Q&amp;A, study sessions and more.
            </h5>
            {% include 'subjects/_membership_button.html' with subject=subject is_member=subject.membership %}
        </article>
    {% endif %}
{% endblock %}
