{% extends "subjects/subject_layout.html" %}

{% block nav %}
    {% include "subjects/_topic_nav.html" %}
{% endblock %}
{% block main %}
    {% if topic %}
        <h1>{{ topic.name }}</h1>
        <p>{{ content|safe }}</p>
    {% endif %}
    <h2>Subtopics</h2>
    {% include "subjects/_topic_tree_node.html" %}
    {% if topic %}
        <h2>Questions</h2>
        <ul>
            {% for question in topic_questions %}
                <li>
                    <a href="{{question.get_absolute_url}}">{{ question.title }}</a>
                </li>
            {% empty %}
                <p>This topic has no associated questions</p>
            {% endfor %}
        </ul>
        <h2>Resources</h2>
        <ul>
            {% for resource in topic_resources %}
                <li>
                    <a href="{{resource.get_absolute_url}}">{{ resource.title }}</a>
                </li>
            {% empty %}
                <p>This topic has no associated resources</p>
            {% endfor %}
        </ul>
        <h2>Sessions</h2>
        <ul>
            {% for session in topic_sessions %}
                <li>
                    <a href="{{session.get_absolute_url}}">{{ session.title }}</a>
                </li>
            {% empty %}
                <p>This topic has no associated sessions</p>
            {% endfor %}
        </ul>
    {% endif %}

    {% if membership.moderator %}
        <h2>Moderator options</h2>
        {% if topic %}
            <p>
                <a role="button" href="{% url 'subjects:topic-edit' subject.id topic.id %}">Edit this topic</a>
                <button
                    class="secondary"
                    hx-post="{% url 'subjects:topic-delete' subject.id topic.id %}"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to delete {{topic.name}}?"
                >
                    Delete this topic
                </button>
            </p>
        {% endif %}
        <p>
            <a role="button" href="{% url 'subjects:topic-create' subject.id %}">Create new topic</a>
            <a
                role="button"
                href="{% url 'subjects:topic-reorder' subject.id %}{% if topic %}?parent={{topic.id}}{% endif %}"
            >Reorder these topics</a>
        </p>
    {% endif %}
{% endblock %}
