{% extends "subjects/subject_layout.html" %}

{% block nav %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/dashboard/">Home</a></li>
            <li><a href="{% url 'subjects:subject-list' %}">Subjects</a></li>
            <li><a href="{% url 'subjects:subject-detail' subject.id %}">{{ subject.name }}</a></li>
            <li><a href="{% url 'subjects:tutoring:session-list' subject.id %}">Sessions</a></li>
            <li>{{ session.title }}</li>
        </ul>
    </nav>
{% endblock %}
{% block main %}
    <h1>{{ session.title }}</h1>
    {% partialdef join_session_button inline %}
        <section id="join_session">
            {% if not participation and session.open %}
                <button
                    hx-post="{% url 'subjects:tutoring:session-join' subject.id session.id %}"
                    hx-target="#join_session"
                >
                    {% if session.needs_join_request %}Request to join session{% else %}Join session{% endif %}
                </button>
            {% elif participation.status == Status.PENDING %}
                <p>You have requested to join the session.</p>
                <button
                    hx-post="{% url 'subjects:tutoring:session-join' subject.id session.id %}"
                    hx-target="#join_session"
                    class="secondary"
                >
                    Withdraw request
                </button>
            {% elif participation.status == Status.ACCEPTED %}
                <button
                    hx-post="{% url 'subjects:tutoring:session-join' subject.id session.id %}"
                    hx-target="#join_session"
                    class="secondary"
                >
                    Leave session
                </button>
            {% else %}
                <button disabled>
                    Session is not open to new participants
                </button>
            {% endif %}
        </section>
    {% endpartialdef %}
    {% if can_modify %}
        <a role="button" href="{% url 'subjects:tutoring:session-edit' subject.id session.id %}">Edit this session</a>
        <button
            class="secondary"
            hx-confirm="Are you sure you want to delete the '{{session.title}}' session?"
            hx-post="{% url 'subjects:tutoring:session-delete' subject.id session.id %}"
        >
            Delete session
        </button>
    {% endif %}
    <table>
        <tr>
            <th scope="row">Location</th>
            <td>{{ session.location }}</td>
        </tr>
        <tr>
            <th scope="row">Hosted by</th>
            <td>{{ session.host.get_full_name }}</td>
        </tr>
        <tr>
            <th scope="row">Open to new participants</th>
            <td>{{ session.open }}</td>
        </tr>
        <tr>
            <th scope="row">Participants</th>
            <td>
                {% for participation in session.joined_participants %}
                    <mark>{{ participation.student.get_full_name }}</mark>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">Capacity</th>
            <td>{{ session.capacity }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ session.description }}</td>
        </tr>
        <tr>
            <th scope="row">Start time</th>
            <td>{{ session.start_time }}</td>
        </tr>
        <tr>
            <th scope="row">End time</th>
            <td>{{ session.end_time }}</td>
        </tr>
        <tr>
            <th scope="row">Topics</th>
            <td>
                {% for topic in session.topics.all %}
                    <mark><a class="contrast" href="{{topic.get_absolute_url}}">{{ topic.name }}</a></mark>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">Session Type</th>
            <th scope="row">{% if session.needs_join_requests %}Peer tutoring{% else %}Group study{% endif %}</th>
        </tr>
    </table>
    {% if session.host == request.user %}
        <hr>
        <h2>Pending participants</h2>
        {% for participant in pending_participants %}
            <article>
                <h3>{{ participant.student.get_full_name }}</h3>
                <button hx-post="{% url 'subjects:tutoring:session-accept' subject.id session.id participant.id %}">
                    Accept join request
                </button>
                <button
                    hx-post="{% url 'subjects:tutoring:session-reject' subject.id session.id participant.id %}"
                    class="secondary"
                >
                    Decline join request
                </button>
            </article>
        {% empty %}
            <p>There are no pending participants</p>
        {% endfor %}
    {% endif %}
{% endblock %}
