{% extends "layouts/logged_in.html" %}

{% block search %}
    <form action="{% url 'dashboard:search'%}">
        <input type="search" name="q" placeholder="Search" aria-label="Search" value="{{search_string}}">
    </form>
{% endblock %}
{% block content %}
    <h1>Search results</h1>
    <h2>Subjects</h2>
    {% for subject in subjects %}
        <article>
            <a href="{{subject.get_absolute_url}}">{{ subject.name }}</a>
        </article>
    {% empty %}
        <p>No subjects match your query</p>
    {% endfor %}
    <h2>Topics</h2>
    {% for topic in topics %}
        <article>
            <a href="{{topic.get_absolute_url}}">{{ topic.name }}</a>
        </article>
    {% empty %}
        <p>No topics match your query</p>
    {% endfor %}
    <h2>Questions</h2>
    {% for question in questions %}
        <article>
            <a href="{{question.get_absolute_url}}">{{ question.title }}</a>
        </article>
    {% empty %}
        <p>No questions match your query</p>
    {% endfor %}
    <h2>Answers</h2>
    {% for answer in answers %}
        <article>
            <a href="{{answer.get_absolute_url}}">Answer to {{ answer.question.title }}</a>
        </article>
    {% empty %}
        <p>No answers match your query</p>
    {% endfor %}
{% endblock %}
