{% extends "layouts/logged_in.html" %}
{% load highlight %}

{% block search %}
{% endblock %}
{% block content %}
    <form method="get" action="{% url 'dashboard:search'%}">
        <table>
            {{ form }}
            <input type="submit" value="Search">
        </table>
    </form>
    {% if query %}
        <h3>Results</h3>
        <p>Found {{paginator.count}} result{{paginator.count|pluralize}}.</p>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                <br>
                {% highlight result.text with query html_tag "mark" %}
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
