{% extends "subjects/subject_layout.html" %}
{% block nav %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/dashboard/">Home</a></li>
            <li><a href="{% url 'subjects:subject-list' %}">Subjects</a></li>
            <li><a href="{% url 'subjects:subject-detail' subject.id %}">{{ subject.name }}</a></li>
            <li>Resources</li>
        </ul>
    </nav>
{% endblock %}
{% block main %}
    <section>
        <a href="{% url 'subjects:resources:resource-new' subject.id %}" role="button">Add new resource</a>
    </section>
    <section>
        <h2>Resources</h2>
        {% for resource in resources %}
            <article>
                <h3>
                    <a href="{% url 'subjects:resources:resource-detail' subject.id resource.id %}">
                        {{ resource.title }}
                    </a>
                </h3>
                <p>
                    Uploaded by {{ resource.uploader.get_full_name }}. {{ resource.upvoted_by.count }}
                    upvote{{ resource.upvoted_by.count|pluralize }}
                </p>
                <p>
                    {% for topic in resource.topics.all %}
                        <mark><a
                                class="contrast"
                                href="{%url 'subjects:topic-detail' subject.id topic.id %}"
                            >{{ topic.name }}</a></mark>
                    {% endfor %}
                </p>
            </article>
        {% empty %}
            <p>No resources in this subject</p>
        {% endfor %}
    </section>
{% endblock %}
