{% load django_htmx %}
{% load django_tomselect %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        {% load static %}
        {% tomselect_media %}
        <link rel="stylesheet" href='{% static "css/pico.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/pico.colors.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
        <script src="{% static 'js/htmx.min.js' %}">
        </script>
        <title>{% block title %}Cohortly{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{% static 'katex/katex.min.css' %}"
            integrity="sha384-u1zONI5gPXUx0UKI62c75/zww972y0v2rSK5ZYlVdS6xEuWDeZWUI66v6t1gvlXJ"
        >
        <script
            defer
            src="{% static 'katex/katex.min.js' %}"
            integrity="sha384-ykMNcWQhhTUb0YV9SPpPUFURHZ+tWmubkakGBP+OgNK/UXdO2gtzglWx0Rj9hnO3"
        ></script>
        <script
            defer
            src="{% static 'katex/contrib/auto-render.min.js' %}"
            integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz"
        ></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                  // customised options
                  // • auto-render specific keys, e.g.:
                  delimiters: [
                      {left: '$$', right: '$$', display: true},
                      {left: '$', right: '$', display: false},
                      {left: '\\(', right: '\\)', display: false},
                      {left: '\\[', right: '\\]', display: true}
                  ],
                  // • rendering keys, e.g.:
                  throwOnError : false
                });
            });
        </script>
        {% block extra_head %}
        {% endblock %}
        {% csrf_token %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock %}
        <script src='{% static "js/main.js" %}'></script>
        {% if debug %}
            <script>
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined"
                            && detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
    </body>
</html>
