{% extends "layouts/logged_in.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/dashboard/">Home</a></li>
            <li><a href="{% url 'subjects:subject-list' %}">Subjects</a></li>
            <li><a href="{% url 'subjects:subject-detail' subject.id %}">{{ subject.name }}</a></li>
            <li><a href="{% url 'subjects:qa:question-list' subject.id %}">Questions</a></li>
            <li>{% if new %}Ask a question{% else %}Edit this question{% endif %}</li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save">
    </form>
    {{ form.media }}
{% endblock %}
