{% extends "layouts/logged_in.html" %}
{% load humanize %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/dashboard/">Home</a></li>
            <li><a href="{% url 'subjects:subject-list' %}">Subjects</a></li>
            <li><a href="{% url 'subjects:subject-detail' subject.id %}">{{ subject.name }}</a></li>
            <li><a href="{% url 'subjects:qa:question-list' subject.id %}">Questions</a></li>
            <li>{{ question.title }}</li>
        </ul>
    </nav>
    <h1>{{ question.title }}</h1>
    <p>Asked {{ question.created_at|naturaltime }} by {{ question.asked_by.get_full_name }}</p>
    <p>
        {% for topic in question.topics.all %}
            <mark><a
                    class="contrast"
                    href="{%url 'subjects:topic-detail' subject.id topic.id %}"
                >{{ topic.name }}</a></mark>
        {% endfor %}
    </p>
    <hr>
    <article>{{ content|safe }}</article>
    {% url 'subjects:qa:upvote-question' subject.id question.id as upvote_target %}
    {% include 'core/_upvote_button.html' with upvoters=question.upvoted_by.all target='subjects:qa:upvote-question' %}
    {% if question.asked_by == user or membership.moderator %}
        <a role="button" href="{% url 'subjects:qa:question-edit' subject.id question.id %}">Edit this question</a>
    {% endif %}
    <h2>{{ question.answer_set.count }} Answer{{ question.answer_set.count|pluralize }}</h2>
    {% for answer in answers %}
        <article>
            <p><strong>Answered {{ answer.created_at|naturaltime }} by {{ answer.posted_by }}</strong></p>
            {% url 'subjects:qa:upvote-answer' subject.id question.id answer.id as upvote_target %}
            {% include 'core/_upvote_button.html' with  upvote_count=answer.upvote_count upvoted=answer.upvoted %}
            <hr>
            {{ answer.content|safe }}
        </article>
    {% endfor %}
    <hr>
    <h2>Your answer</h2>
    <form method="post">
        {% csrf_token %}
        {{ answer_form }}
        <input type="submit" value="Post Your Answer">
    </form>
    {{ answer_form.media }}
{% endblock %}
